* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Lora", serif;
  background: #eee;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.site-wrapper {
  height: 100%;
  width: 100%;
}

.home-section {
  height: 100%;
  min-height: 100vh;
}

.home-content {
  text-align: center;
  margin: auto;
  h2 {
    margin-bottom: 2em;
  }
}

.main-title {
  text-align: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0.25em;
  margin-bottom: 0;
  font-size: 4em;
  position: relative;
  &::before {
    content: "";
    border-bottom: solid 1px #000;
    width: 100%;
    position: absolute;
    top: 8px;
    left: 0;
  }
  &::after {
    content: "";
    border-bottom: solid 1px #000;
    width: 100%;
    position: absolute;
    bottom: 8px;
    left: 0;
  }
}

.title {
  display: inline-block;
  border-bottom: 1px solid #000;
  font-size: 2.75em;
  font-weight: bold;
}

.center {
  text-align: center;
}
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-flow: row wrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.content {
  height: 100%;
  min-height: 100vh;
  position: relative;
}

//about
.about-content {
  margin: 0 auto;
  flex-wrap: wrap;
  .about-intro {
    position: relative;
    flex-basis: 20%;
    .fa-user {
      position: absolute;
      font-size: 10em;
      z-index: -1;
      opacity: 0.05;
      top: 0;
      left: 25%;
    }
    h1 {
      font-size: 3em;
    }
  }
  .about-description {
    flex-basis: 40%;
    border-left: 1px solid #000;
    padding-left: 1em;
    p {
      font-size: 1.25em;
    }
  }
}
//about end

//skills
.bold {
  font-weight: bold;
}

.skill-header {
  padding-right: 1em;
  border-right: 1px solid #000;
}

.skill-info {
  margin-left: 1em;
}

.skill-summary {
  flex-basis: 20%;
  padding-left: 1em;
  p {
    font-size: 1.25em;
  }
}
.text-right {
  text-align: right;
}

.left-border {
  border-left: 1px solid #000;
  padding-right: 1em;
}
//skills end

//portfolio
.box {
  flex-basis: 40%;
  width: 250px;
  height: 250px;
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.5s all ease-out;
  &:hover {
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.4);
  }
}

//portfolio end

//contact
.contact-form {
  border-radius: 10px;
  padding: 3em 1em;
  //   width: 700px;
}

.input-box {
  margin-bottom: 1em;
}

form {
  input,
  textarea {
    border: none;
    outline: none;
    background: none;
  }
}

form {
  span {
    font-size: 1em;
    color: #cfcfcf;
  }
  input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  textarea {
    display: block;
    text-align: left;
    width: 400px;
    height: 200px;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
}
//end contact

//menu overlay
.hidden {
  display: none;
}
.menu-overlay {
  display: none;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  background: #e4e4e4;
}
.full-nav {
  list-style: none;
  padding-left: 0;
  li {
    margin-bottom: 1em;
  }
  .nav-btn {
    text-decoration: none;
    font-size: 2.5em;
    color: #000;
    margin-bottom: 2em;
    text-transform: uppercase;
    transition: 0.5s border-bottom ease-in-out;
    &:hover {
      border-bottom: 1px solid #000;
    }
  }
}
//end menu overlay
